*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color:white;
  height: 15vh;
  padding:0 40px;
  flex-wrap: wrap;
}
.header h1{
  font-size: 2.5rem;
  color:skyblue;
  margin-left:30px;
  
}
.nav-link{
  display: flex;
  list-style: none;    
}

.nav-link  a{
  text-decoration: none;
  color:#fff;
  margin-right:20px;
  font-size: 1.3rem;
  display: block;
  transition: all 0.3s ease-out ;
}

.nav-link a:hover{
  color:#c5cae9;
  transform: rotate(5deg);
}

.hero{
  background: #c5cae9;
  padding:60px 40px;
  display: flex;
  justify-content: center;
}
.hero-inner{
  max-width:760px;
}

.hero h1{
  font-weight: normal;
  font-size: 3rem;
}
.hero p{
  margin-top: 20px;
  line-height: 1.6;
  font-size: 1.18rem;
}
.hero a{
  list-style: none;
  text-decoration: none;
  
  display: inline-block;
  margin-top:20px;
  color:#fff;
  padding:10px 20px;
  background-color: blue;
  border-radius:7px;
  font-size:1.18rem;
}

.grid{
  background-color: #e8eaf6;
  padding:60px 45px;
}
.inner-grid{
  max-width: 1000px;
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-column-gap:45px;
  grid-row-gap:45px;
}
.grid-item p{
  line-height: 1.6;
  font-size:1.1rem;
  margin-top:20px;
}
.grid-item h3{
  color:lightblue;
  font-size: 1.5rem;
}
footer{
  
  text-align:center;
  padding:20px 60px;
  font-size: 2rem;
}